a:hover {
    text-decoration: none;
}
#main-menu-wrapper {
    height: 100vh;
}
#main-menu-wrapper li {
    padding: 1% 0;
}
#main-menu-wrapper li a {
    line-height: 53px;
}
#main-menu-wrapper .wraplist.bottom {
    margin-top: 15%;

} 
.page-topbar .message-toggle-wrapper, 
.page-topbar .notify-toggle-wrapper, 
.page-topbar .searchform, 
.page-topbar li.profile {
    opacity: 1;
}
.connect-block {
    display: inline-block;
    line-height: 60px;
    margin-left: 15%;
}
.connect-block a {
    border: 1px solid #ccc;
    padding: 3px;
    border-radius: 10px;
    text-transform: uppercase;
}
.connect-block a:last-child {
    background: #1fb5ac;
    color: #fff;
}
.connect-block a i {
    margin-right: 5px;
}
.table>thead>tr>th, 
.table>tbody>tr>th, 
.table>tfoot>tr>th, 
.table>thead>tr>td, 
.table>tbody>tr>td, 
.table>tfoot>tr>td {
    white-space: nowrap;
}
.bot-table .dataTables_wrapper .dataTables_length, 
.bot-table .dataTables_wrapper .dataTables_filter, 
.bot-table .dataTables_wrapper .dataTables_info, 
.bot-table .dataTables_wrapper .dataTables_processing, 
.bot-table .dataTables_wrapper .dataTables_paginate {
    display: none;
}
.bot-table {
    border: 1px solid #1fb5ac;
    margin-bottom: 30px;
}
.bot-table h3 {
    text-align: center;
    background: #fa8564;
    color: #fff;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
}
.bot-table h3 a {
    color: #fff;
}
.bot-table .sms {
    background: #ccc;
    border-radius: 15px;
}
.table-btn {
    border-radius: 15px;
    padding: 3px;
    cursor: pointer;
}
.table-btn.add { 
    color: #1fb5ac;
    border: 1px solid #1fb5ac;
}
.table-btn.del { 
    color: #fa8564;
    border: 1px solid #fa8564;
}
.bot-table td {
    vertical-align: middle;
}

/*page settings*/
    /*settings*/
.search_data .tab-pane {
    height: auto;
}
.channel-box {
    border: 1px dotted #1fb5ac;
    border-radius: 30px;
    padding-bottom: 2%;
}
.channel-add {
    display: flex;
    justify-content: space-around;
}

.channel {
    cursor: pointer;
    display: inline-block;
}
.channel:hover {
    transform: scale(1.5);
    transition: .5s;
    background: #fff;
}
.channel-wrap {
    background: #E0FFFF;
    margin: 2%;
    padding: 30px;
}
.channel-wrap h3 {
    display: inline-block;
    text-transform: uppercase;
    margin: 0 3%;
}

.channel-wrap .del {
    float: right;
    display: inline-block;
    text-decoration: none;
}
.channel-wrap .log-in {
    border: 1px solid #40E0D0;
    display: inline-block;
    padding: 0.5% 1%; 
    margin: 0 0 4% 4%;
}
.channel-wrap .btn {
    margin-top: 10px;
    border-radius: 10px; 
}
.channel-wrap .btn:hover {
    transform: scale(1.2);
    transition: .5s;
    background: #fff;
    color: rgba(31, 181, 172, 1.0);
    border: 1px solid #40E0D0;

}
/*settings-payment*/
.pay-box .btn{
    display: block;
    margin: 20px auto 0;
    width: 200px;
}
/*settings-bot*/
.bot-box {
    position: relative;
}
.bot-block {
    border: 1px dotted #1fb5ac;
    border-radius: 30px;
    padding-bottom: 2%;
    text-align: center;
    margin-bottom: 30px;
    position: relative;
    cursor: pointer;
}
.bot-block:after {
    content: '';
    height: 30px;
    width: 2px;
    background: #1fb5ac;
    position: absolute;
    top: -30px;
    left: 0;
    right: 0;
    margin: auto;
}
.bot-block.main:after {
    height: 0;
}
.bot-block:hover {
    background: #ADD8E6;
    transform: scale(1.05);
    transition: .3s;
}
.bot-block:hover:before {
    content: '+';
    background: #0E1250;
    color: #fff;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 15px;
    border-radius: 50%;
    font-size: 30px;
    padding-top: 2px;
} 

.card-bot {    
    display: none;
    z-index: 10;
    position: absolute;
    top: 0;
    right: 0;
}
.card-wrap .btn {
    background: #1fb5ac;
    display: inline-block;
    color: #fff;
    margin-left: 50px;
}
.card-wrap>h2 {
    display: inline-block;
    margin: 0 15px 15px 0;
}
.card {
    margin: 2% 0;
    border: 1px dotted #1fb5ac;
    width: 50%;
    text-align: center;
}
.card-btn {
    display: block;
    text-align: center;
    margin: 1% 0;
    outline: none;
    border: none;
    display: inline-block;
    background: transparent;
    width: 100%;
    text-decoration: none;
}
.controls {
    position: relative;
}
.controls:hover .click-close {
    display: block;
}
.controls .btn {
    position: absolute;
    top: 0;
    right: 0;
}
.click-close {
    color: #ccc;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    text-align: center;
    display: none;
} 
.card:last-child:before {
    height: 0;
    content: "";
}
.card-empty {
    cursor: pointer;
}

    /*settings-bot-unrecognized-msgs*/
.unrecognized-msgs .bot-table {
    border: none;
}
/*build*/
.card>ul {
    padding-left: 0;
    margin: 0;
}
.card>ul li {
    list-style-type: none;
    text-align: left;
    padding: 10px 0 10px 10px;
    font: 20px/25px 'Open Sans', Arial, Helvetica, sans-serif;
}
.card>ul li i {
    margin-right: 10px;
    display: inline-block;
}
.card>ul li:hover {
    background: #ccc;
}
.card .p {
    cursor: pointer;
}
.controls-select {
    display: none;
}
.close-block {
    cursor: pointer;
    font-size: 20px;
    float: right;
}
.popup-editor {
    padding: 10px;
    border: 1px solid #ccc;
    justify-content: space-between;
    display: none;
}

.openPop {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
.popup-editor i {
    font-size: 20px;
}
.editor-list {
    display: inline;
    padding-left: 0;
    margin: 0;

}
.editor-list li {
    display: inline;
    background: #ccc;
    cursor: pointer;
    padding: 5px;
}
.popup-editor i:first-child {
    margin-right: 10px;
}
.popup-editor input {
    outline: none;
    border: none;
    margin-right: 10px;
}
.suggestion-list {
   position: absolute;
    padding: 0;
    top: 51px;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 4px 12px 0 rgba(0,0,0,.2);
    border: 1px solid transparent;
}
.suggestion-list li {
    list-style: none;

}
.editor-box {    
    position: relative;
    padding: 2px;
}
.add-card  {
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 50%;
    margin: 2%;
    padding: 5px 0;
    display: none;
}
.add-card.active {
    display: block;
}
.add-card textarea {
    border: 1px solid #ccc;
    border-radius: 10px;
}
.add-card-box {
    display: block;
    padding: 30px;
    text-align: center;
    text-decoration: none;
}
.panel_header {
    padding-left: 12px;
    border-bottom: 1px solid #ccc !important;
}
/*build-form*/
.btn-block {
    bottom: 1px solid #ccc;
}
.result-block {
    padding: 20px 0;
}

.form-label {
    display: block;
}